@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #397c5d;
}
body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #F5F5F5;
  height: 100vh;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 160px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
header nav h1 {
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}
header nav .nav_btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
  border-color: #006A50;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}
.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  border-radius: 24px;
  background-color: #C6E4D6;
  padding: 80px 60px;
  margin-top: 20px;
}
.header_section div {
  max-width: 615px;
}
.header_section div h2  {
  font-size: 24px;
  font-weight: 500;
  color: #0e0e0e7c;
}
.header_section div p {
  font-size: 56px;
  font-weight: bold;
  color: #0E0E0E;
  margin: 16px 0 24px 0;
}
.header_section div .header_btn {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}