@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background-color: #397c5d;
}
body {
  font-family: 'Fira Sans', sans-serif;
  background-color: #F5F5F5;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 160px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
header nav h1 {
  font-size: 32px;
  font-weight: bold;
  color: #0E0E0E;
}
header nav .nav_btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
  border-color: #006A50;
  border-radius: 8px;
  background-color: transparent;
  cursor: pointer;
}
.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  border-radius: 24px;
  background-color: #C6E4D6;
  padding: 80px 60px;
  margin-top: 20px;
}
.header_section div {
  max-width: 615px;
}
.header_section div h2  {
  font-size: 24px;
  font-weight: 500;
  color: #0e0e0e7c;
}
.header_section div p {
  font-size: 56px;
  font-weight: bold;
  color: #0E0E0E;
  margin: 16px 0 24px 0;
}
.header_section div .header_btn {
  padding: 17px 34px;
  font-size: 18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #006A50;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.main_section1 {
  margin: 80px 0;
}
.main_section1 h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
}
.main_section1 .cards_parents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 32px;
}
.main_section1 .cards_parents .cards{
  width: 302px;
  padding: 24px;
  background-color: #FFFFFF;
  border: 1px solid #0e0e0e52;
  border-radius: 16px;
}
.main_section1 .cards_parents .cards h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0ecb;
  margin: 24px 0 12px 0;
}
.main_section1 .cards_parents .cards p {
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e93;
}

.main_section2 h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.main_section2 p {
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e93;
}
.main_section2 .vision_cards_parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 32px 0;
}
.main_section2 .vision_cards_parent .vision_cards {
  height: 325px;
  width: 410px;
  padding: 32px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.main_section2 .vision_cards_parent .vision_cards h3 {
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0eb4;
  margin: 24px 0 12px;
}
.main_section2 .vision_cards_parent .vision_cards p {
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0e93;
  margin-bottom: 24px;
}
.main_section2 .vision_cards_parent .vision_cards .card_btn{
  color: #FFFFFF;
  padding: 11px 20px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  margin-top: auto;
}
.main_section2 .yunus {
  background-image: url(assets/quote-bg.png);
  background-position: 25px 24px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border: 1px solid #0e0e0e52;
  border-radius: 16px;
  padding: 48px 24px;
}
.main_section2 .yunus p {
  font-size: 16px;
  line-height: 24px;
  color: #0e0e0eab;
}
.main_section2 .yunus h3 {
  font-size: 20px;
  font-weight: 600;
  color: #0e0e0eb4;
  margin-top: 12px;
}
.main_section2 .yunus p:last-child {
  margin-top: 4px;
  color: #0e0e0e83;
}
.main_section3 {
  margin: 80px 0;
}
.main_section3 h2 {
  font-size: 40px;
  font-weight: bold;
  color: #0E0E0E;
  margin-bottom: 24px;
}
.main_section3 .table_container {
  width: 100%;
  max-width: 1280px;
  padding: 32px;
  background-color: #FFFFFF;
  border-radius: 16px;
}
.main_section3 .opinion_table {
  width: 100%;
  border-collapse: collapse;
}
.main_section3 .opinion_table th, .main_section3 .opinion_table td {
  border: 1px solid #0e0e0e52;
  padding: 24px;
  text-align: left;
}
.main_section3 .opinion_table thead{
  background-color: #C6E4D6;
}
.main_section3 .opinion_table th {
  font-size: 20px;
  font-weight: bold;
}
.main_section3 .opinion_table tbody select {
  font-size: 16px;
  font-weight: 500;
  padding: 10px 14px;
  background-color: #C6E4D6;
}